<div class="page-error">
    <img src="{{notFoundBackground}}" alt="Page not found" class="page-error__image">
    <h1 class="page-error__title">
        Sorry, but page you are looking for doesn't really exist :(
    </h1>
    <p class="page-error__description">
        <span class="page-error__contact-text">
            Maybe it was here before?  Contact us:
        </span>
        <a href="https://github.com/frontend-park-mail-ru/2021_1_Code_Magicians" class="page-error__contact-link">Our github</a>
    </p>
    <button class="page-error__back-button">
        Go back
    </button>
    <a href="{{paths.home}}" class="page-error__home-link">Go home</a>
</div>
