<div class="page-error">
    <img src="/assets/img/notFound-removebg-preview.png" alt="Page not found" class="page-error__image">
    <h1 class="page-error__title">
        Sorry, but page you are looking for doesn't really exists :(
    </h1>
    <p class="page-error__description">
        <span class="page-error__contact-text">
            Maybe it was here before?  Contact us:
        </span>
        <a href="#" class="page-error__contact-link">My github</a>
    </p>
    <a href="/back" class="page-error__back-link">
        Go back
    </a>
</div>
