.page-error {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  color: var(--black);
  background-color: var(--white);

  &__back-link {
    margin-top: auto;
    margin-bottom: 200px;
  }

  &__description {
    margin-top: 30px;

    color: var(--black);
  }

  &__contact-link {
    margin-left: 15px;
  }

  &__back-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 60px;

    border-radius: 30px;

    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    color: var(--black);
    background-color: var(--almost-white);

    transition: 0.1s;

    &:hover {
      color: var(--white);
      background-color: var(--red);
    }
  }
}
