<div class="not-found">
    <img src="/assets/img/notFound-removebg-preview.png" alt="Page not found" class="not-found__image">
    <h1 class="not-found__title">
        Sorry, but page you are looking for doesn't really exists :(
    </h1>
    <p class="not-found__description">
        <span class="not-found__contact-text">
            Maybe it was here before?  Contact us:
        </span>
        <a href="#" class="not-found__contact-link">My github</a>
    </p>
    <a href="/back" class="not-found__back-link">
        Go back
    </a>
</div>
