<div class="auth-page login-page">
    <div class="auth-page__wrapper">
        <div class="auth-page__content">
            <div class="auth-page__content-wrapper">
                <a class="auth-page__logo" href="{{paths.home}}">
                    <i class="fab fa-pinterest auth-page__logo-image"></i>
                </a>
                <div class="auth-page__title">Login</div>
            </div>
            <div class="auth-page__content-wrapper">
                <form class="auth-form">
                    <label>
                        <input
                                class="auth-form__input"
                                type="text" name="username"
                                placeholder="Username"
                        >
                    </label>
                    <div class="errors name-errors input-error-text"></div>
                    <label>
                        <input
                                class="auth-form__input"
                                type="password"
                                name="password"
                                placeholder="Password"
                        >
                    </label>
                    <div class="errors password-errors input-error-text"></div>
                    <div class="auth-view__buttons-wrapper">
                        <input class="auth-form__submit auth-view__button" type="submit" value="Login">
                        <a class="auth-page__logo_vk" href="https://oauth.vk.com/authorize?client_id=7869738&display=page&redirect_uri=https://pinterbest.ru{{paths.login}}/callback&scope=email&response_type=code&v=5.131">
                            <div class="">Login via VK</div>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="auth-page__side">
        No account yet? <a href="{{paths.signup}}" class="auth-button auth-view__button">Register</a>
    </div>
    <div class="toasts-box"></div>
</div>
