<div class="pin-builder">
    <label for="file-input" class="pin-builder__file-window">
        <div class="pin-builder-uploader__wrapper"></div>
        <div class="pin-builder-uploader__wrapper">
            <i class="fas fa-arrow-circle-up pin-builder__upload-icon"></i>
            <div class="pin-builder__tip-text_medium">Drag here or click to load them</div>
            <div class="pin-builder__button_gray">Upload from site</div>
        </div>
        <div class="pin-builder-uploader__wrapper">
            <div class="pin-builder__tip-text_small">Tip: Use high-quality .jpeg files (smaller than 10mb)</div>
        </div>
    </label>
    <div class="pin-builder__pin-details">
        <form class="pin-builder-form">
            <input id="file-input" type="file" style="display:none" name="pin-image">
            <div class="pin-builder-form__group-wrapper">
                <div class="pin-builder-form__wrapper">
                    <label>
                        <input class="pin-builder-form__input" type="text" name="name" placeholder="Add name">
                    </label>
                    <div class="shadow-line"></div>
                </div>
                <div class="pin-builder-form__wrapper">
<!--                    <div class="pin-board-selector">-->
<!--                        <input type="select" class="pin-board-selector__input" id="board-name">-->
<!--                        <button class="pin-board-selector__select-button" id="create-board">-->
<!--                            <i class="fas fa-chevron-circle-down user-icon"></i>-->
<!--                        </button>-->
<!--                        <button class="pin-board-selector__select-button">-->
<!--                            <i class="fas fa-heart user-icon"></i>-->
<!--                        </button>-->

<!--                    </div>-->
                    <div class="pin-board-selector">
                        <input type="select" class="pin-board-selector__input" id="board-name">
                        <div class="pin-board-selector__select-button pin-board-selector">
                            <i class="fas fa-chevron-circle-down user-icon"></i>
                        </div>
                        <div class="pin-board-selector__select-button pin-board-selector"  id="create-board">
                            <i class="fas fa-plus-circle user-icon"></i>
                        </div>
                        <div class="pin-board-selector__select-button pin-board-selector">
                            <i class="fas fa-heart user-icon pin-board-selector__select-button"></i>
                        </div>
                    </div>
                </div>
                <div class="pin-builder-form__wrapper">
                    <div class="author-info">
                        <div class="author-info__content">
                            <img src="{{profile.avatarLink}}" alt="upload-logo" class="author-info__content_image">
                        </div>
                        <div class="author-info__content">
                            <div class="author-info__description">
                                <div class="author-info__description_name">
                                    {{profile.username}}
                                </div>
                                <div class="author-info__description_followers">
                                    {{profile.followers}} followers
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pin-builder-form__wrapper">
                    <label>
                        <input class="pin-builder-form__input" type="text" name="description" placeholder="Add description">
                    </label>
                    <div class="shadow-line"></div>
                </div>
            </div>
            <div class="pin-builder-form__group-wrapper">
                <div class="pin-builder-form__wrapper">
                    <label>
                        <input class="pin-builder-form__input" type="text" name="link" placeholder="Add target link">
                    </label>
                    <div class="shadow-line"></div>
                </div>
                <div class="pin-builder-form__wrapper">
                    <input type="submit" class="pin-builder-form__button_submit" value="Post now">
                </div>
            </div>
        </form>
    </div>
</div>
