<div class="pin-builder">
    <label for="file-input" class="pin-builder__file-window" id="preview-label">
        <div class="pin-builder-uploader__wrapper"></div>
        <div class="pin-builder-uploader__wrapper">
            <i class="fas fa-arrow-circle-up pin-builder__upload-icon"></i>
            <span class="pin-builder__tip-text_medium">Drag here or click to load them</span>
        </div>
        <div class="pin-builder-uploader__wrapper">
            <span class="pin-builder__tip-text_small">Tip: Use high-quality .jpeg/.gif/.png files (&lt; 10mb)</span>
        </div>
    </label>
    <form class="pin-builder-form">
        <input id="file-input" type="file" style="display:none" name="pin-image" accept="image/x-png,image/gif,image/jpeg,video/mp4">
        <div class="pin-builder-form__group-wrapper">
            <div class="pin-builder-form__title">Pin title</div>
            <div class="pin-builder-form__wrapper">
                <label>
                    <input class="pin-builder-form__input" type="text" name="name" placeholder="Add name">
                </label>
            </div>
            <div class="pin-builder-form__wrapper">
                {{{boardControl}}}
            </div>
            <div class="pin-builder-form__wrapper">
                <div class="author-info">
                    <div class="author-info__content">
                        <img src="{{profile.avatarLink}}" alt="upload-logo" class="author-info__content_image">
                    </div>
                    <div class="author-info__content">
                        <div class="author-info__description">
                            <div class="author-info__description_name">
                                {{profile.username}}
                            </div>
                            <div class="author-info__description_followers">
                                {{profile.followers}} followers
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pin-builder-form__title">Pin description</div>
            <div class="pin-builder-form__wrapper">
                <label>
                    <input class="pin-builder-form__input" type="text" name="description" placeholder="Add description">
                </label>
            </div>
        </div>
        <div class="pin-builder-form__group-wrapper">
            <div class="pin-builder-form__title">Pin link</div>
            <div class="pin-builder-form__wrapper">
                <label>
                    <input class="pin-builder-form__input" type="text" name="link" placeholder="Add target link">
                </label>
            </div>
            <div class="pin-builder-form__wrapper">
                <input type="submit" class="pin-builder-form__button_submit" value="Post now">
            </div>
        </div>
    </form>
</div>

