.pin-builder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: var(--white);

  height: 100%;

  &__file-window {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    object-fit: contain;

    width: auto;
    max-width: 1200px;
    min-width: 450px;

    height: auto;
    max-height: 800px;
    min-height: 750px;

    border: 1px solid var(--white);
    border-radius: 15px;

    background: var(--almost-white) no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__tip-text {
    color: var(--gray);

    &_small {
      padding-bottom: 20px;

      font-size: 14px;
      color: var(--gray);
    }

    &_medium {
      display:flex;
      align-items: end;
      justify-self: end;
      justify-content: end;

      padding-bottom: 20px;

      font-size: 18px;

      color: var(--gray);
    }
  }

  &__button {
    alignment: center;

    &_gray {
      padding: 10px 25px;

      border:none;
      border-radius: 45px;

      background: var(--gray);
      color: white;
    }
  }

  &__upload-icon {
    align-items: center;

    padding-bottom: 30px;

    font-size: 35px;

    color:var(--gray);

    &_image {
      fill: var(--red);

      background-color:var(--white);
      color:var(--gray);
    }
  }
}

.pin-builder-uploader__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.pin-builder-form {
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  width: 400px;
  min-width: 200px;
  height: 750px;

  margin-left: 60px;

  &__title {
    font-size: 20px;
    font-family: var(--font-medium);

    color: var(--black);
  }

  &__group-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;

    padding: 5px;

    border:none;
    outline: none;
    border-bottom: 1px solid var(--gray);

    color: var(--black);

    background: none;

    &:focus {
      border-bottom: 1px solid var(--red);

    }

    &:active {
      border-bottom: 1px solid var(--red);

    }
  }

  &__button {
    &_submit {
      padding: 10px 50px;
      margin-top: 10px;

      border-radius: 45px;
      border:none;

      color: white;
      background-color: var(--red);
    }

    &:checked {
      border: none;
    }
  }
}

.author-info {
  display: flex;
  flex-direction: row;
  justify-content: start;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_image {
      width: 50px;
      height: 50px;

      margin-top: 20px;
      margin-bottom: 20px;

      border-radius: 50%;

      object-fit: cover;
    }
  }

  &__description {
    padding-left: 10px;

    &_name {
      font-size: 18px;
      font-weight: bold;

      color: var(--black);
    }
    &_followers {
      font-size: 14px;

      color: var(--gray);
    }
  }
}

.user-icon {
  font-size: 20px;

  color: var(--gray);

}

@media only screen and (max-width: 1200px) {
  .pin-builder {
    flex-direction: column;
    justify-content: flex-start;

    height: auto;

    &-form {
      margin-top: 50px;
      margin-left: 0;

      height: 600px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .pin-builder__file-window {
    max-width: 400px;
    min-width: 200px;

    max-height: 550px;
    min-height: 500px;
  }

  .pin-builder-form {
    width: 400px;
    height: 500px;

    margin-top: 50px;
    margin-left: 0;
  }
}


