<div class="profile-boards">
    {{#each boards}}
        <a href="/board/{{ this.ID }}" class="profile-boards__board">
            <img src="{{ this.avatarLink }}" alt="{{ this.title }}" class="profile-boards__board-avatar">
            <span class="profile-boards__title">{{ this.title }}</span>
        </a>
    {{/each}}
</div>
