<form class="security-settings">
    <h1 class="settings__title">
        Security
    </h1>
    <div class="security-settings__fields">
        <div class="settings__field">
            <span class="settings__field-name">New password</span>
            <input type="password" class="settings__field-input" name="new-password">
        </div>
        <div class="settings__field">
            <span class="settings__field-name">Confirm new password</span>
            <input type="password" class="settings__field-input" name="confirm-password">
        </div>
        <input type="submit" class="settings__submit-button">
    </div>
</form>
