<form class="security-settings">
    <h1 class="security-settings__title">
        Security
    </h1>
    <div class="security-settings__fields">
        <div class="security-settings__field">
            <span class="security-settings__field-name">New password</span>
            <input type="text" class="security-settings__field-input" placeholder="********">
        </div>
        <div class="security-settings__field">
            <span class="security-settings__field-name">Confirm new password</span>
            <input type="text" class="security-settings__field-input" placeholder="********">
        </div>
        <input type="submit" class="security-settings__submit">
    </div>
</form>
