.security-settings {
  &__fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 200px;
    max-width: 300px;

    margin-top: 50px;
  }
}
