<div class="pin-builder">
    <div class="pin-builder__file-window">
        <div class="pin-builder-uploader__wrapper"></div>
        <div class="pin-builder-uploader__wrapper">
            <div class="pin-builder__upload-icon">
                <svg width="30" height="30" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.3125 10C0.3125 4.64844 4.64844 0.3125 10 0.3125C15.3516 0.3125 19.6875 4.64844 19.6875 10C19.6875 15.3516 15.3516 19.6875 10 19.6875C4.64844 19.6875 0.3125 15.3516 0.3125 10ZM5.92188 11.1289L8.75 8.17969V15.3125C8.75 15.832 9.16797 16.25 9.6875 16.25H10.3125C10.832 16.25 11.25 15.832 11.25 15.3125V8.17969L14.0781 11.1289C14.4414 11.5078 15.0469 11.5156 15.418 11.1445L15.8438 10.7148C16.2109 10.3477 16.2109 9.75391 15.8438 9.39062L10.6641 4.20703C10.2969 3.83984 9.70312 3.83984 9.33984 4.20703L4.15234 9.39062C3.78516 9.75781 3.78516 10.3516 4.15234 10.7148L4.57812 11.1445C4.95312 11.5156 5.55859 11.5078 5.92188 11.1289Z" fill="#A9A9A9"/>
                </svg><!--
            <img src="assets/img/svg/upload.svg" alt="upload-logo" class="pin-builder__upload-icon_image">
            -->
            </div>
            <div class="pin-builder__tip-text_medium">Drag here or click to load them</div>
            <input type="file" class="pin-builder__button_gray" value="Upload from site">
        </div>
        <div class="pin-builder-uploader__wrapper">
            <div class="pin-builder__tip-text_small">Tip: Use high-quality .jpeg files (smaller than 10mb)</div>
        </div>
    </div>
    <div class="pin-builder__pin-details">
        <form class="pin-builder-form">
            <div class="pin-builder-form__group-wrapper">
                <div class="pin-builder-form__wrapper">
                    <label>
                        <input class="pin-builder-form__input" type="text" name="name" placeholder="Add name">
                    </label>
                    <div class="shadow-line"></div>
                </div>
                <div class="pin-builder-form__wrapper">
                    <div class="pin-board-selector">
                        <input type="select" class="pin-board-selector__input">
                        <button class="pin-board-selector__select-button">
                            <img src="assets/img/svg/page__navbar/dropdown-arrow.svg" alt="Dropdown" class="navbar__user-change-icon">
                        </button>

                        <button class="pin-board-selector__select-button">
                            <img src="assets/img/svg/page__navbar/dropdown-arrow.svg" alt="Dropdown" class="navbar__user-change-icon">
                        </button>
                    </div>
                </div>
                <div class="pin-builder-form__wrapper">
                    <div class="author-info">
                        <div class="author-info__content">
                            <img src="assets/img/default-avatar.jpg" alt="upload-logo" class="author-info__content_image">
                        </div>
                        <div class="author-info__content">
                            <div class="author-info__description">
                                <div class="author-info__description_name">
                                    Username_Usernamov
                                </div>
                                <div class="author-info__description_followers">
                                    31 follower
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pin-builder-form__wrapper">
                    <label>
                        <input class="pin-builder-form__input" type="text" name="description" placeholder="Add description">
                     </label>
                    <div class="shadow-line"></div>
                </div>
            </div>
            <div class="pin-builder-form__group-wrapper">
                <div class="pin-builder-form__wrapper">
                    <label>
                        <input class="pin-builder-form__input" type="text" name="link" placeholder="Add target link">
                    </label>
                    <div class="shadow-line"></div>
                </div>
                <div class="pin-builder-form__wrapper">
                    <input type="submit" class="pin-builder-form__button_submit" value="Post now">
                </div>
            </div>
        </form>
    </div>
</div>