<div class="board-control">
    <input type="select" class="board-control__input" id="board-name">
    <div class="board-control__button">
        <i class="fas fa-chevron-circle-down board-icon"></i>
    </div>
    <div class="board-control__button"  id="create-board">
        <i class="fas fa-plus-circle board-icon"></i>
    </div>
    <div class="board-control__button">
        <i class="fas fa-heart board-icon"></i>
    </div>
</div>
