.profile-header-wrapper {
  display: flex;
  flex-direction: column;
}

.profile-content-wrapper {
  display: flex;

  background-color: var(--almost-white);

  transition: var(--theme-transition);
}
