html {
    height: 100%;
}

body {
    height: 100%;

    margin: 0;
    background-color: var(--almost-white);
}

#app {
    height: 100%;
    width: 100%;
}

:root {
    --white: rgba(255, 255, 255, 1);
    --almost-white: rgba(248, 248, 248, 1);
    --red: rgba(203, 7, 15, 1);
    --gray: rgba(169, 169, 169, 1);
    --black: rgba(37, 37, 37, 1);
}

:root[theme='dark'] {
    --white: rgba(37, 37, 37, 1);
    --almost-white: rgba(66, 66, 66, 1);
    --red: rgba(203, 7, 15, 1);
    --gray: rgba(169, 169, 169, 1);
    --black: rgba(51, 51, 51, 1);
}
