.col-1, .row-1 {
    flex-grow: 1;
}

.col-2, .row-2 {
    flex-grow: 2;
}

.col-3, .row-3 {
    flex-grow: 3;
}

.col-4, .row-4 {
    flex-grow: 4;
}

.col-5, .row-5 {
    flex-grow: 5;
}

.col-6, .row-6 {
    flex-grow: 6;
}

.col-7, .row-7 {
    flex-grow: 7;
}

.col-8, .row-8 {
    flex-grow: 8;
}

.col-9, .row-9 {
    flex-grow: 9;
}

.col-10, .row-10 {
    flex-grow: 10;
}

.col-11, .row-11 {
    flex-grow: 11;
}

.col-12, .row-12 {
    flex-grow: 12;
}
