<div class="comment">
    <a href="{{paths.home}}" class="sidebar__home-link">
        <img src="/assets/img/Logo.png" alt="logo" class="sidebar__logo-image">
    </a>
    <div class="comment__text">
        <div class="comment__text_author">Best Idea Generator</div>
        <div class="comment__text_message">Wow, what an amazing pin, wish my life was as amazing as it!</div>
    </div>
</div>
