.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 30px 20px 0;

  &__avatar {
    height: 31px;
    width: 30px;

    background-image: url("/assets/img/Logo.png");
    background-size: cover;
    background-position: center;

    border-radius: 50px;

    padding: 10px 15px 10px 0;
  }

  &__text {
    color: var(--gray);
    margin: 10px 0 10px 30px;

    &_author {
      font-size: 22px;
      font-weight: bold;
    }
    &_message {
      font-size: 14px;
    }
  }

}
