.settings {
  display: flex;

  height: 100%;

  background-color: var(--white);

  transition: var(--theme-transition);

  &__sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-right: 2px solid var(--almost-white);
  }

  &__sections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 40px 20px;


    transition: var(--theme-transition);

    border-bottom: 2px solid var(--almost-white);
  }

  &__logout-button {
    margin-top: 30px;
    margin-left: 40px;
    padding: 0;

    outline: none;
    border: none;

    font-size: 16px;

    background-color: transparent;
  }

  &__section-link {
    width: 120px;

    margin: 10px 0;

    text-decoration: none;
    font-size: 18px;

    &_active {
      text-decoration: underline;
    }
  }

  &__option {
    font-weight: bold;


    color: var(--black);

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__form-wrapper {
    margin-top: 80px;
    margin-left: 150px;
    width: 100%;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--black);
  }

  &__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    &-name {
      color: var(--black);

      font-size: 15px;
    }

    &-input {
      width: 100%;

      border: none;
      border-radius: 4px;

      box-shadow: 0 3px 2px -2px var(--gray);
      outline: none;

      font-size: 22px;

      color: var(--black);
      background-color: inherit;

      transition: 0.2s;

      &::placeholder {
        transition: 0.1s;
        color: var(--gray);
      }

      &:focus {
        background-color: var(--almost-white);

        box-shadow: 0 3px 2px -2px var(--red);
      }

      &:focus::placeholder {
        color: transparent;
      }
    }
  }

  &__submit-button {
    width: 110px;
    height: 40px;

    outline: none;
    border: none;
    border-radius: 20px;

    font-size: 14px;

    color: var(--white);
    background-color: var(--gray);

    cursor: pointer;

    transition: 0.2s;

    &:hover {
      opacity: 0.9;
    }
  }
}
