<div class="settings">
    <div class="settings__sidebar">
        <div class="settings__sections">
            <a href="{{paths.settings}}/profile" class="settings__section-link settings__option">
                Profile changes
            </a>
            <a href="{{paths.settings}}/notifications" class="settings__section-link settings__option">
                Notifications
            </a>
            <a href="{{paths.settings}}/security" class="settings__section-link settings__option">
                Security
            </a>
        </div>
        <button class="settings__option settings__logout-button">
            Log out
        </button>
    </div>
    <div class="settings__form-wrapper">
        {{{ settingsForm }}}
    </div>
</div>
