<div class="settings-wrapper">
    <div class="settings">
        <div class="settings__sections">
            <a data-section="profile" href="/settings/profile" class="settings__section-link">
                Profile changes
            </a>
            <a data-section="notifications" href="/settings/notifications" class="settings__section-link">
                Notifications
            </a>
            <a data-section="security" href="/settings/security" class="settings__section-link">
                Security
            </a>
        </div>
        <div class="settings__form-wrapper">
            {{{ settingsForm }}}
        </div>
    </div>
</div>
