<div class="settings-wrapper">
    <div class="settings">
        <div class="settings__sections">
            <button class="settings__section settings__section_active">
                Profile changes
            </button>
            <button class="settings__section">
                Notifications
            </button>
            <button class="settings__section">
                Security
            </button>
        </div>
        <div class="settings__form-wrapper">
            {{{ settingsForm }}}
        </div>
    </div>
</div>
