<div class="pin-browser">
    <div class="pin-browser__image-panel">
        <a href="/" class="pin-browser__pin-link">
            <img src="/assets/img/DefaultPin.png" alt="" class="pin-browser__pin-image">
        </a>
    </div>
    <div class="pin-browser__info-panel">
        <div class="info-panel__title">Spectacular views</div>
        <div class="info-panel__controls"></div>
        <div class="info-panel__user-info"></div>
        <div class="info-panel__comments"></div>


    </div>
    <div class="pin-browser__tags-panel">
        <div class="pin-browser__search-title">
            Ideas that may interest you
        </div>

    </div>
</div>
