<div class="page-header">
    <img src="assets/img/logo.png" alt="pinterest" class="page-header__main-page-link">
    <button class="page-header__home-button header-button">Home</button>
    <button class="page-header__today-pins-button header-button">Today</button>
    <button class="page-header__following-button header-button">Following</button>
    <input class="page-header__search-bar" type="text" placeholder="Search">
    <img src="assets/img/bell.jpg" alt="pinterest" class="page-header__updates page-header__user-elem">
    <img src="assets/img/msg.jpg" alt="messages" class="page-header__messages page-header__user-elem">
    <img src="{{ user.avatarURL }}" alt="profile"
         class="page-header__profile-button page-header__user-elem">
    <select class="page-header__user-menu page-header__user-elem"></select>
</div>
