<div class="page__navbar">
    <div class="navbar__search-form">
        <img src="assets/img/svg/page__navbar/Search.svg" alt="Search" class="navbar__search-icon">
        <input type="text" class="navbar__search-input" placeholder="Looking things up">
        <img src="assets/img/svg/page__navbar/x-mark.svg" alt="X-mark" class="navbar__search-wiper">
    </div>
    <div class="navbar__user">
        <img src="assets/img/default-avatar.jpg" alt="Avatar" class="navbar__user-avatar">
        <span class="navbar__username"> Username Usernamov </span>
        <button class="navbar__user-change-button">
            <img src="assets/img/svg/page__navbar/dropdown-arrow.svg" alt="Dropdown" class="navbar__user-change-icon">
        </button>
    </div>
    <div class="navbar__actions">
        <button class="navbar__action">
            <img src="assets/img/svg/page__navbar/Create_pin.svg" alt="Plus" class="navbar__action-icon">
        </button>
        <button class="navbar__action">
            <img src="assets/img/svg/page__navbar/stats.svg" alt="Stats" class="navbar__action-icon ">
        </button>
        <button class="navbar__action">
            <img src="assets/img/svg/page__navbar/more.svg" alt="Dropdown" class="navbar__action-icon">
        </button>
    </div>
</div>
