<div class="page__navbar">
    <form class="navbar__search-form">
        <i class="fas fa-search navbar__search-icon"></i>
        <input type="text" class="navbar__search-input" placeholder="Looking things up">
        <i class="fas fa-times navbar__search-wiper"></i>
    </form>
    <div class="navbar__user-section">
        {{#if userIsAuthorised}}
            <a href="/profile">
                <img src="/assets/img/default-avatar.jpg" alt="Avatar" class="navbar__user-avatar">
            </a>
            <span class="navbar__username"> Username Usernamov </span>
            <button class="navbar__user-toggle">
                <i class="fas fa-caret-down navbar__user-toggle-icon"></i>
            </button>
        </div>
        <div class="navbar__actions">
            <a class="navbar__action" href="/create-pin">
                <i class="fas fa-plus navbar__action-icon"></i>
            </a>
            <button class="navbar__action">
                <i class="fas fa-ellipsis-v navbar__action-icon"></i>
            </button>
        </div>
        {{else}}
            <a href="/signin" class="navbar__auth-link navbar__auth-link_primary">Sign in</a>
            <a href="/signup" class="navbar__auth-link navbar__auth-link_secondary">Sign up</a>
        </div>
        {{/if}}
</div>
