.navbar {
  position: fixed;
  top: 0;
  left: 75px;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 5px 70px;
  border-bottom: 2px solid var(--almost-white);
  background-color: var(--white);
  transition: var(--theme-transition);
  z-index: 1;
}
.navbar__search-form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 15px;
  border-radius: 20px;
  transition: 0.3s;
}
.navbar__search-form:hover {
  background-color: var(--almost-white);
}
.navbar__search-form:focus-within {
  background-color: var(--almost-white);
}
.navbar__search-form:valid .navbar__search-wiper {
  visibility: visible;
}
.navbar__search-icon {
  color: var(--gray);
}
.navbar__search-input {
  flex-grow: 1;
  height: 40px;
  padding-left: 7px;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--black);
  background-color: transparent;
}
.navbar__search-input:focus::placeholder {
  color: transparent;
}
.navbar__search-wiper {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 13px;
  color: var(--gray);
  opacity: 0.6;
  visibility: hidden;
  cursor: pointer;
}
.navbar__user-section {
  display: flex;
  align-items: center;
  width: 250px;
  padding-left: 100px;
}
.navbar__user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.navbar__username {
  max-width: 180px;
  margin-left: 15px;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--black);
}
.navbar__user-toggle {
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.navbar__user-toggle-icon {
  font-size: 16px;
  color: var(--gray);
}
.navbar__actions {
  display: flex;
  align-items: center;
}
.navbar__action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin-right: 2px;
  margin-left: 2px;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
.navbar__action:hover .navbar__action-icon {
  color: var(--red);
}
.navbar__action-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--gray);
  text-decoration: none;
  transition: 0.2s;
}
.navbar__auth-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding-left: 120px;
}
.navbar__auth-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  padding: 10px;
  border: 1px solid var(--red);
  border-radius: 2px;
  text-decoration: none;
  background-color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}
.navbar__auth-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--red);
  transition: 0.2s;
}
.navbar__auth-link:hover::before {
  filter: brightness(90%);
}
.navbar__auth-link_primary {
  color: white;
}
.navbar__auth-link_primary::before {
  background-color: var(--red);
}
.navbar__auth-link_secondary {
  color: var(--black);
}
.navbar__auth-link_secondary::before {
  background-color: var(--almost-white);
}
.navbar__auth-text {
  position: relative;
}

/*# sourceMappingURL=navbar.css.map */
