<div class="navbar">
    <form class="navbar__search-form" novalidate>
        <i class="fas fa-search navbar__search-icon"></i>
        <input type="text" class="navbar__search-input" placeholder="Looking things up" required>
        <button class="navbar__search-wiper">
            <i class="fas fa-times navbar__search-wiper-icon"></i>
        </button>
    </form>
    {{#if userIsAuthorised}}
        <div class="navbar__user-section">
            <img src="/assets/img/default-avatar.jpg" alt="Avatar" class="navbar__user-avatar">
            <a href="/profile" class="navbar__username"> {{user.username}} </a>
        </div>
        <div class="navbar__actions">
            <a class="navbar__action" href="/create-pin">
                <i class="fas fa-plus navbar__action-icon"></i>
            </a>
            <button class="navbar__action">
                <i class="fas fa-ellipsis-v navbar__action-icon"></i>
            </button>
        </div>
    {{else}}
        <div class="navbar__auth-section">
            <a href="/signin" class="navbar__auth-link navbar__auth-link_primary">Sign in</a>
            <a href="/signup" class="navbar__auth-link navbar__auth-link_secondary">Sign up</a>
        </div>
    {{/if}}
</div>
