<div class="profile-wrapper">
    <div class="profile-header">
        <img src="assets/img/default-avatar.jpg" alt="avatar" class="profile-header__avatar">

        <div class="profile-header__main-info">
            <div class="profile-header__username-zone">
                <span class="profile-header__username">Username usernamov</span>
                <button class="profile-header__settings">
                    <img src="assets/img/svg/profile-header/user-settings.svg" alt="settings" class="profile-header__settings-gear">
                </button>
            </div>
            <div class="profile-header__additional-info">
                <span class="profile-header__user-location">Moscow, Russian Federation</span>
            </div>
        </div>

        <div class="profile-header__stats">
            <div class="profile-header__stat">
                <span class="profile-header__stat-counter">1k</span>
                <span class="profile-header__stat-name">pins</span>
            </div>
            <div class="profile-header__stat">
                <span class="profile-header__stat-counter">50</span>
                <span class="profile-header__stat-name">boards</span>
            </div>
            <div class="profile-header__stat">
                <span class="profile-header__stat-counter">2,3k</span>
                <span class="profile-header__stat-name">month views</span>
            </div>
        </div>
    </div>

    <div class="profile-links">
        <a href="/profile" class="profile-links__link profile-links__link_active">Overview</a>
        <a href="/profile/boards" class="profile-links__link">Boards</a>
        <a href="/profile/pins" class="profile-links__link">Pins</a>
        <a href="/profile/followers" class="profile-links__link">Followers</a>
        <a href="/profile/following" class="profile-links__link">Following</a>
    </div>
</div>
