<div class="profile-info">
    <img src="/assets/img/default-avatar.jpg" alt="avatar" class="profile-info__avatar">

    <div class="profile-info__main-info">
        <div class="profile-info__username-zone">
            <span class="profile-info__username">Username usernamov</span>
            {{#if selfProfile}}
                <a href="/settings" class="profile-info__settings">
                    <img src="/assets/img/svg/profile-header/user-settings.svg" alt="settings" class="profile-info__settings-icon">
                </a>
            {{/if}}
        </div>
        <div class="profile-info__additional-info">
            <span class="profile-info__user-location">Moscow, Russian Federation</span>
        </div>
    </div>

    <div class="profile-info__stats">
        <div class="profile-info__stat">
            <span class="profile-info__stat-counter">1k</span>
            <span class="profile-info__stat-name">pins</span>
        </div>
        <div class="profile-info__stat">
            <span class="profile-info__stat-counter">50</span>
            <span class="profile-info__stat-name">boards</span>
        </div>
        <div class="profile-info__stat">
            <span class="profile-info__stat-counter">2,3k</span>
            <span class="profile-info__stat-name">month views</span>
        </div>
    </div>
</div>

<div class="profile-links">
    <a data-target="profile" href="/profile" class="profile-links__link">Overview</a>
    <a data-target="boards" href="/profile/boards" class="profile-links__link">Boards</a>
    <a data-target="pins" href="/profile/pins" class="profile-links__link">Pins</a>
    <a data-target="followers" href="/profile/followers" class="profile-links__link">Followers</a>
    <a data-target="following" href="/profile/following" class="profile-links__link">Following</a>
</div>
