<div class="pins-feed">
    {{#each pins}}
        <div class="pins-feed__pin-wrapper">
            <button class="pins-feed__save-button">
                <span class="pins-feed__save-button-text">Save</span>
            </button>
            <a href="/pin/{{this.ID}}" class="pins-feed__pin">
                <img src="{{this.imageLink}}" alt="pin's image" class="pins-feed__pin-image">
                <span class="pins-feed__pin-title">{{this.title}}</span>
            </a>
        </div>
    {{/each}}
</div>
