<div class="page__sidebar">
    <button class="sidebar__theme-toggle">
        <img src="/assets/img/Logo.png" alt="logo" class="sidebar__logo-image">
    </button>
    <div class="sidebar__view-selector">
        <div data-view="home" class="view-selector__item">
            <a class="view-selector__link" href="/home">
                <i class="fas fa-home view-selector__icon"></i>
            </a>
        </div>
        <div data-view="boards" class="view-selector__item">
            <a class="view-selector__link" href="/boards">
                <i class="fas fa-layer-group view-selector__icon"></i>
            </a>
        </div>
        <div data-view="settings" class="view-selector__item">
            <a class="view-selector__link" href="/settings">
                <i class="fas fa-cog view-selector__icon"></i>
            </a>
        </div>
    </div>
    <div class="sidebar__popup-toggles">
        <button class="popup-toggle">
            <i class="fas fa-comment-dots popup-toggle__icon"></i>
        </button>
        <button class="popup-toggle">
            <i class="fas fa-bell popup-toggle__icon"></i>
        </button>
    </div>
</div>
