<div class="sidebar">
    <a href="/home" class="sidebar__home-link">
        <img src="/assets/img/Logo.png" alt="logo" class="sidebar__logo-image">
    </a>
    <div class="sidebar__view-selector">
        <div data-view="home" class="sidebar__view-option">
            <a class="sidebar__view-link" href="/home">
                <i class="fas fa-home sidebar__view-icon"></i>
            </a>
        </div>
        <div data-view="boards" class="sidebar__view-option">
            <a class="sidebar__view-link" href="/profile/boards">
                <i class="fas fa-layer-group sidebar__view-icon"></i>
            </a>
        </div>
        <div data-view="settings" class="sidebar__view-option">
            <a class="sidebar__view-link" href="/settings">
                <i class="fas fa-cog sidebar__view-icon"></i>
            </a>
        </div>
    </div>
    <div class="sidebar__toggles">
        <button class="sidebar__toggle slider-toggle">
            <i class="fas fa-comment-dots sidebar__toggle-icon"></i>
        </button>
        <button class="sidebar__toggle slider-toggle">
            <i class="fas fa-bell sidebar__toggle-icon"></i>
        </button>
        <button class="sidebar__toggle theme-toggle">
            <i class="fas fa-moon sidebar__toggle-icon theme-toggle-icon"></i>
        </button>
    </div>
</div>
