.page__sidebar {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  border-right: 5px solid var(--almost-white);

  background-color: var(--white);

  z-index: 1;
}

.sidebar {
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    justify-self: flex-start;

    width: 45px;
    height: 45px;

    margin: 10px auto auto;

    cursor: pointer;

    &__image {
      width: 40px;
      height: 40px;
    }

    &__image:hover {
      zoom: 105%;
    }
  }

  &__view-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto 0;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: var(--red);
  }

  &__slider-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    justify-self: flex-end;

    margin: auto auto 20px;
  }
}

.view-selector {
  &__option {
    display: flex;
    align-items: center;

    width: 60px;
    height: 45px;

    cursor: pointer;

    &__button {
      justify-self: center;

      margin: auto;

      border: none;
      outline: none;

      background-color: transparent;

      cursor: pointer;
    }

    &__icon {
      height: 23px;
      width: 30px;
    }

    &__icon:hover {  // later will affect on any hover on __option.
      zoom: 120%;
    }
  }
}

.view-selector__option__mark {
  //opacity: 0;  // will display on option hover and while target view is active
  justify-self: flex-start;

  &__image {
    width: 5px;
    height: 45px;
  }
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  margin: 7px 0;

  border: none;
  outline: none;

  cursor: pointer;

  background-color: transparent;

  &__icon {
    width: 25px;
    height: 25px;
  }

  &__icon:hover {
    zoom: 120%;
  }
}
