<div class="page__sidebar">
    <div class="sidebar__logo">
        <img src="assets/img/Logo.png" alt="logo" class="sidebar__logo__image">
    </div>
    <div class="sidebar__view-selector">
        <div class="view-selector__option">
            <div class="view-selector__option__mark">
                <img src="assets/img/svg/page__sidebar/Selector.svg" alt="logo" class="view-selector__option__mark__image" style="opacity: 0;">
            </div>
            <button class="view-selector__option__button">
                <img src="assets/img/svg/page__sidebar/Home.svg" alt="Home" class="view-selector__option__icon">
            </button>
        </div>
        <div class="view-selector__option">
            <div class="view-selector__option__mark">
                <img src="assets/img/svg/page__sidebar/Selector.svg" alt="logo" class="view-selector__option__mark__image"">
            </div>
            <button class="view-selector__option__button">
                <img src="assets/img/svg/page__sidebar/Boards.svg" alt="Boards" class="view-selector__option__icon">
            </button>
        </div>
        <div class="view-selector__option">
            <div class="view-selector__option__mark">
                <img src="assets/img/svg/page__sidebar/Selector.svg" alt="logo" class="view-selector__option__mark__image" style="opacity: 0;">
            </div>
            <button class="view-selector__option__button">
                <img src="assets/img/svg/page__sidebar/Settings.svg" alt="Settings" class="view-selector__option__icon">
            </button>
        </div>
    </div>
    <div class="sidebar__slider-buttons">
        <button class="slider-button">
            <img src="assets/img/svg/page__sidebar/Messages.svg" alt="Messages" class="slider-button__icon">
        </button>
        <button class="slider-button">
            <img src="assets/img/svg/page__sidebar/Notifications.svg" alt="Notifications" class="slider-button__icon">
        </button>
    </div>
</div>
