<div class="page__sidebar">
    <a class="sidebar__logo-link" href="/home">
        <img src="assets/img/Logo.png" alt="logo" class="sidebar__logo-image">
    </a>
    <div class="sidebar__view-selector">
        <div class="view-selector__item">
            <a class="view-selector__link" href="/home">
                <img src="assets/img/svg/page__sidebar/Home.svg" alt="Home" class="view-selector__icon">
            </a>
        </div>
        <div class="view-selector__item view-selector__item_selected">
            <a class="view-selector__link" href="/boards">
                <img src="assets/img/svg/page__sidebar/Boards.svg" alt="Boards" class="view-selector__icon">
            </a>
        </div>
        <div class="view-selector__item">
            <a class="view-selector__link" href="/settings">
                <img src="assets/img/svg/page__sidebar/Settings.svg" alt="Settings" class="view-selector__icon">
            </a>
        </div>
    </div>
    <div class="sidebar__popup-toggles">
        <button class="popup-toggle">
            <img src="assets/img/svg/page__sidebar/Messages.svg" alt="Messages" class="popup-toggle__icon">
        </button>
        <button class="popup-toggle">
            <img src="assets/img/svg/page__sidebar/Notifications.svg" alt="Notifications" class="popup-toggle__icon">
        </button>
    </div>
</div>
