.feedback-button {
  color: var(--gray);

  font-size: 20px;

  padding: 5px;

  cursor: pointer;
}

.shadow-line {
  border: 1px solid rgba(169, 169, 169, 0.02);
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);
}

.feedback-form {
  visibility: hidden;
}

.feedback-creator {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 250px);

  height: 300px;
  width: 500px;

  padding: 2px 50px;

  border: none;
  border-radius: 5px;
  outline: none;

  background-color: var(--white);
  color: var(--black);

  font-size: 30px;

  &__close {
    align-self: flex-end;
    color: var(--red);
  }
  &__title {

    padding-bottom: 50px;
  }
}

.blur-background {
  background-color: var(--perm-blur);
  backdrop-filter: blur(2px);
  top:0;
  left:75px;
  position:fixed;
  width:calc(100% - 75px);
  height: 100%;

  z-index: 1;
}


select {
  background: transparent;

  margin-right: 5px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: start;

  width: 80%;

  cursor: pointer;


  &__hint {
    padding-bottom: 20px;

    color: var(--gray);

    font-size: 14px;
  }

  &__text {
    border:none;
    outline:none;

    font-size: 18px;

    background-color: var(--white);
    color: var(--black);

  }

  &__button {
    width: fit-content;

    padding: 15px 20px;
    margin-top: 10px;

    border-radius: 45px;
    border:none;

    font-size: 20px;
    color: white;
    background-color: var(--red);
  }
}

