@import 'fonts';
@import 'pallete';
//@import url('../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss');

:root {
    --main-elements-shadow: rgba(0, 0, 0, 0.05);

    --perm-blur: rgba(33, 36, 40, 0.3);

    --theme-transition: 0.5s;

    --font-regular: 'Montserrat Regular';
    --font-medium: 'Montserrat Medium';
    --font-bold: 'Montserrat Bold';
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;

    margin: 0;
    background-color: var(--almost-white);

    font-family: var(--font-regular);
}

#app {
    height: 100%;
    width: 100%;
}

.removed {
    display: none;
}
