<!--suppress HtmlUnknownTarget -->
<img src="assets/img/x-mark.png" class="auth-window__close-button">
<form class="auth-form">
    <img src="assets/img/logo.png" class="auth-form__logo">
    <h1 class="auth-form__welcome-title">Welcome to PinterBest</h1>
    <input type="text" class="auth-form__email" placeholder="Email">
    <input type="text" class="auth-form__password" placeholder="Password">
    <a href="#" class="auth-form__recover-link">Forgot your password?</a>
    <input type="submit" class="auth-form__log-in-button" value="Log in">
    <hr class="auth-form__break-line">
    <a href="#" class="auth-form__signup-link">Not with us yet? Sign up</a>
</form>
