name: Build and Delivery

on:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Checkout code
        uses: actions/checkout@v2

      - name:  Install deps
        run: npm install

      - name: Run ESLint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Upload build result
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: ./dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download build
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: Transfer build files to server
        uses: appleboy/scp-action@master
        with:
          host: 52.59.228.167
          username: ubuntu
          key: ${{ secrets.PRIVATE_KEY }}
          source: "dist/*"
          target: "/home/deploy/frontend"
