.pin-browser {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  background-color: var(--white);

  &__image-panel {
    object-fit: contain;

    width: auto;
    max-width: 1200px;
    min-width: 450px;

    height: auto;
    max-height: 800px;
    min-height: 750px;

    border-radius: 15px;
  }

  &__info-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 800px;

    margin-left: 50px;

    overflow:scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__pin-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.info-panel {
  &__feedback-wrapper {
    margin-bottom: 20px;
  }

  &__title {
    font-family: var(--font-bold);
    color: var(--black);

    margin-top: 0;
    margin-bottom: 10px;
  }

  &__comments-section {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 425px;
    max-height: 450px;


    &-title {
      color: var(--black);
      font-size: 22px;
      font-family: var(--font-medium);
    }
  }

  &__comments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow: auto;

    &_text {
      margin-top: 10px;

      font-size: 18px;
      color: var(--gray);
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;

  &__avatar {
    height: 40px;
    width: 40px;

    border-radius: 50%;
    object-fit: cover;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: var(--gray);
    margin: 3px 0 3px 20px;

    &_author {
      font-size: 19px;
      text-decoration: none;
      font-weight: bold;

      margin-bottom: 3px;

      color: var(--black);
    }

    &_message {
      font-size: 14px;
    }
  }

}

.user-info {
  display:flex;
  flex-direction: row;
  align-items: center;

  flex-wrap: wrap;

  margin: 25px 0 35px 0;

  &__avatar {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    object-fit: cover;
  }

  &__text {
    text-decoration: none;

    display: flex;
    flex-direction: column;

    margin: 5px 15px;
    &_username {
      font-size: 22px;
      font-weight: bold;
      color: var(--black);
    }
    &_followers {
      font-size: 14px;
      color: var(--gray);
    }
  }

  &__follow-button {
    align-items: center;

    width: 81px;

    margin: 5px 10px;
    padding: 10px 25px;

    border-radius: 45px;
    outline: 0;

    color: var(--perm-white);

    text-align: center;

    user-select: none;

    &_active {
      background-color: var(--red);

      cursor: pointer;
    }

    &_inactive {
      background-color: var(--gray);
    }

    &_disabled {
      background-color: var(--gray);
    }
  }
}

.comment-form {
  display: flex;
  flex-direction: column;

  margin-top: auto;

  &__label {
    color: var(--black);
    margin-bottom: 5px;
  }

  &__text {
    height: 50px;

    padding: 5px;

    outline: none;
    border-radius: 5px;

    font-size: 16px;
    background-color: var(--white);
    color: var(--black);

    resize: none;
  }

  &__submit {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 140px;

    padding: 10px 50px;
    margin-top: 10px;

    border-radius: 45px;
    border: none;

    font-family: var(--font-medium);
    font-size: 16px;
    color: var(--perm-white);

    background-color: var(--red);

    cursor: pointer;

    transition: 0.2s;

    &::before {
      content: '';
      position: absolute;
      top: 0; left: 0;

      width: 100%;
      height: 100%;

      background-color: var(--red);

      transition: 0.2s;
    }

    &:hover::before {
      filter: brightness(90%);
    }
  }
}


.pin-stats {
  display: none;
  flex-direction: row;

  padding: 10px 0;

  float: right;

  &__item {
    display: flex;
    flex-direction: column;

    margin: 0 20px 0 0;

    &_val {
      font-size: 22px;
      color: var(--black);

      margin: 4px 0;
    }
    &_descr {
      font-size: 16px;
      color: var(--gray);
    }
  }
}

.pin-icon {
  font-size: 16px;
  color: var(--gray);
}

.pin-description {
  font-size: 16px;
  color: var(--gray);
  margin-bottom: 20px;
}

.control-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

@media only screen and (max-width: 1700px) {
  .pin-browser {
    &__image-panel {
      max-width: 1000px;
      max-height: 600px;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .pin-browser {
    &__image-panel {
      max-width: 850px;
      max-height: 450px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .pin-browser {
    flex-direction: column;
    justify-content: flex-start;

    height: auto;

    &__info-panel {
      flex-direction: row;
      justify-content: center;

      margin-left: 0;
      margin-top: 50px;
    }
  }

  .info-panel {
    &__comments-section {
      margin-top: 0;
      margin-left: 20px;
    }
  }

  .user-info {
    &__follow-button {
      width: 60px;
    }
  }
}


@media only screen and (max-width: 500px) {
  .pin-browser__image-panel {
    width: auto;
    max-width: 500px;
    min-width: 200px;

    height: auto;
    max-height: 600px;
    min-height: 300px;
  }

  .pin-browser__info-panel {
    flex-direction: column;;
  }

  .info-panel {
    max-width: 500px;
  }
}
